<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New course</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/course}" th:object="${course}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="teacher">Enter teacher: </label>
    <input type="text" th:field="*{teacher}" id="teacher">
    <br/>
    <input type="submit" value="Create">
</form>

</body>
</html>