<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teachers Domain</title>
</head>
<body>
    <h1>Create new Teacher</h1>
    <form th:action="@{/teachers}" th:object="${teacher}" method="POST">
        <label for="name">Teacher name</label>
        <input type="text" name="name" id="name" th:field="*{name}">

        <label for="email">Teacher Email</label>
        <input type="text" name="email" id="email" th:field="*{email}">

        <input type="submit" value="Submit">
    </form>

</body>
</html>